body{
    font-family: 'Roboto', sans-serif;
}

.logoX{
    padding-left: 5%;
}
.registro{
    padding: 5%
}

.title {
    text-align: start;
    font-size: 64px;
    font-weight: bold;
    color: #0f1419;
    margin-bottom: 20px;
}

.aviso-privasidad h3{
    font-size: 15px;
    font-weight: bold;
}

.aviso-privasidad p{
    font-size: 14px;
    color: #71767b;
}
